.campoActualizar{
    height: 25px;
    width: 250px;
    margin: 3px 10px 10px;
    padding: 3px;
    text-align: left;
    font-size: 14px;    
    text-align: center;
    border: none;
    border-radius: 20px;
}
.actualizarItem, .btnAcualizar{
    margin-top: 8px;
}
.btnAcualizarPass{margin-top: 20px; font-size: 14px;    
}

