*{
    margin: 0;
    padding: 0;
}
#contenedor{
    width: 1200px;
    height: auto;
    margin: 0.5em;
    padding: 0.5em;
}
#contenido{
    height: 100%;
    border-style: solid;
    border-radius: 1em;
    padding: 30px;    
}
#seccion{
    height: 50%;    
}
.campDoc{margin-left: 59px;}
.campNom{margin-left: 70px;}
.campApe{margin-left: 76px;}
.campCorr{margin-left: 90px;}
.campCla1{margin-left: 100px;}
.campFecha{margin-left: 10px;}
.datosEncabezado{
    display: inline-block;
    font:bold 14px Arial, Helvetica, 'sans-serif';
}
.datosContenido{
    display: inline-block;
    font:normal 14px Arial, Helvetica, 'sans-serif';    
}
.datosEncabezado,.datosContenido{
    margin: 5px;
}
@media screen and (max-width: 800px){
.campDoc{margin-left: 0px;}
.campNom{margin-left: 0px;}
.campApe{margin-left: 0px;}
.campCorr{margin-left: 0px;}
.campCla1{margin-left: 0px;}
.campFecha{margin-left: 0px;}
.Actualizar{padding: 8px;}
}