hgroup{padding: 3px 0;}

.parallax-home{
    /* The image used */
    background-image: url("/img/bucaramanga-parallax.jpeg");
    /* Set a specific height */
    min-height: auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    margin: 0;
}
#busqueda{
    text-align: center;
    background-color: #2b2b2b;
    padding: 25px 15px 15px;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.barra-busqueda{
    padding: 7px 20px;
    font-size: 15px;
    border: none;
    width: 500px;
    margin: 30px 10px;
    text-align: center;
    border-radius: 20px;
}
.welcome-text{
    font: bold 18px Arial, Helvetica, 'sans-serif';
    color: white;
}
.buscar-titulo{
    font: normal 13px Arial, Helvetica, 'sans-serif' !important;
    color: white;
}
.boton-buscar{
    background-color: #661b77;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}
.boton-buscar:hover{
    background-color: #77158e;
}
#resultados{
    height: auto;
    margin-top: 15px;
    padding: 0;
    text-align: center;
}
.resultadostitulo{
    font: normal 15px Arial, Helvetica, 'sans-serif';
    color: white;
    background-color: rgb(26,41,61);
    background: linear-gradient(90deg, rgba(26,41,61,1) 0%, rgba(117,25,129,1) 61%, rgba(161,4,150,1) 100%);
    padding: 5px;
}
.lista-resultados{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1em;
    padding-right: 1em;
    height: auto;
}
.resultado-hotel{
    position: relative;
    display: inline-block;
    height: auto;
    background-color: white;
    vertical-align: top;
    padding: 10px;
}
.f-h-p{width: 100%;}
.foto-habitacion{
    width: 100%;
    height: auto;
}


/* RESPONSIVE HOME */

/* Tablets */
@media screen and (max-width: 800px){

}

/* Celulares */
@media screen and (max-width: 400px){
    .barra-busqueda{
        width: 100%;
        margin: 20px 0px;
    }
    .buscar-form{
        padding: 0;
    }
}
