*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
.credenciales{

text-align: center;
    
}
body{
    background-color: rgb(210, 210, 210) !important;
}

.IngresoCredenciales{
    box-sizing: content-box;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border: none;
    width: 350px;
   
   
    border-radius: 20px;
}
.BotonIngreso{
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    background-color: #1a293d;
    cursor: pointer;
    color: white;
}
.link{
    color: blue;
    
}