*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
.credenciales{
text-align: center;
color: blanchedalmond;
}
body{
    background-color: rgb(210, 210, 210) !important;
}

.FormularioLogin{

    background-color: #2b2b2b;
   
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 350px;
    margin-left: 350px;
}
.IngresoCredenciales{ 
    font-size: 18px !important;

    width: 250px;
   margin-left: 150px;
    height: 5px;
    border-radius: 20px;
    color: black !important;
    padding: 35px ;

    
}

.BotonIngreso{
    padding: 15px ;
    margin-bottom: 65 px;
    border-radius: 50px;
    border: none;
    background-color: #1a293d;
    cursor: pointer;
    color: white;
    margin-top: 170 px;
    height: auto;
    width: 150px
}
.link{
    color: #661b77 ;
    margin-top: 70 px;
    font-weight: bold;
    
}
.parallax-login{
    background-image: url("../img/bucaramanga-parallax.jpeg");
    min-height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    margin: 0;
}
