*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
.credenciales{
text-align: center;
color: black;
/* color: blanchedalmond; */
}
body{
    background-color: rgb(210, 210, 210) !important;
    text-align: center;
}

.FormularioLogin{

    /* background-color: #2b2b2b; */
    background-color: rgb(210, 210, 210);
    padding: 15px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 350px;
    margin-left: 350px;
}
.IngresoCredenciales{ 
    font-size: 14px !important;
    text-align: center;
    width: 250px;
    margin: 10px 0px;
    height: auto;
    border-radius: 20px;
    color: black !important;
    padding: 8px 15px;
    border: none;
    
}

.BotonIngreso{
    padding: 15px ;
    margin-bottom: 65 px;
    border-radius: 50px;
    border: none;
    background-color: #1a293d;
    cursor: pointer;
    color: white;
    margin-top: 170 px;
    height: auto;
    width: 150px;
}
.link{
    color: #661b77 ;
    margin-top: 70 px;
    font-weight: bold;
    
}
.parallax-login{
    background-image: url("../img/bucaramanga-parallax.jpeg");
    min-height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    margin: 0;
}
@media screen and (max-width: 800px){
    .FormularioLogin{
        margin-right: 10px;
        margin-left: 10px;}
    .BotonIngreso{
        padding: 8px 15px;
        margin-bottom: 20px;                                
        margin-top: 0px;
        height: auto;
        width: auto !important;
    }
}
