.recuperacion{
    text-align: center; 
}
.Volver{
    color: #e405d5;
    font-weight: bolder;
    
}
.BotonRecuperar{
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    background-color: #1a293d;
    cursor: pointer;
    color: white;
}
.Ingresocorreo{
    box-sizing: content-box;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border: none;
    width: 350px;
    border-radius: 20px;
}
.parallax-recuperacion{
    background-image: url("../img/bucaramanga-parallax.jpeg");
    min-height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    margin: 0;
}
.formularioRecuperacion{
    color: blanchedalmond;
    text-align: center;
    background-color: #2b2b2b;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 350px;
    margin-left: 350px;
}