<!-- CODERS: Este es el código del HEADER con la Navbar implementando Bootstrap y responsive -->
    <!-- Inicio  -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark logo-navbar" aria-label="Eighth navbar example">
            <div class="container container-mobile">
                <a href="#"><img src="../assets/img/logoBucarHotel.jpg" alt="Logo Bucarhotel" class="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsItems" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsItems">
                    <ul class="navbar-nav ml-auto mb-2 mb-sm-0">
                        <li class="BotonMenu BotonMenuActivo"><a href="#">Buscar hotel</a></li>
                        <li class="BotonMenu"><a href="history">Historial de reservas</a></li>
                        <li class="BotonMenu"><a href="signup">Regístrate</a></li>
                        <li class="BotonMenu"><a href="login">Ingresa</a></li>
                        <li class="BotonMenu"><a href="profile">Perfil</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Fin  -->

    <div class="hgroup">
        <div class="parallax-home">
            <div class="container">
                <div class="row">
                    <div id="busqueda">
                        <p class="welcome-text">¡Bienvenido a Bucaramanga viajero!</p>
                        <h1 class="buscar-titulo">
                            En <strong>Bucarhotel.com</strong> en tan sólo un par de pasos puedes encontrar el mejor hotel en la ciudad de Bucaramanga para tí. <br>
                            ¡Es fácil!, tú solamente ingresa los datos y nosotros nos encargamos del resto
                        </h1>
                        <form action="" class="buscar-form">
                            <input type="text" name="buscar" placeholder="Ingresa los datos para tu búsqueda" class="barra-busqueda">
                            <input type="submit" value="Buscar" class="boton-buscar">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="resultados">
            <div class="resultadostitulo">Encontramos estas opciones que podrían interesarte</div>
            <div class="row row-custom">
                <div class="col-md-3 col-xs-12">
                    <div class="filtrar-box position-sticky" style="top: 110px">
                        <div>
                            <p class="filtrar-titulo">Filtrar resultados por:</p>
                            <form action="" class="filtrar-form">
                                <div class="col-12 filter-title">Precio</div>
                                <div class="row justify-content-center">
                                    
                                    <div class="col-6">
                                        <label>Entre</label>
                                        <input type="number" id="min_price" class="form-control filter-field" placeholder="$">
                                    </div>
                                    <div class="col-6">
                                        <label>y</label>
                                        <input type="number" id="max_price"  class="form-control filter-field" placeholder="$">
                                    </div>        
                                </div>
                                <div class="col-12 filter-title">Piso</div>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <input type="number" id="min_floor" class="form-control filter-field" placeholder="Entre el piso:">
                                    </div>
                                    <div class="col-6">
                                        <input type="number" id="max_floor" class="form-control filter-field" placeholder="y el piso:">
                                    </div>        
                                </div>
                                <div class="col-12 filter-title">Capacidad</div>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <input type="number" id="capacity" min="1" max="5"  class="form-control">
                                        <label>Personas</label>
                                    </div>    
                                </div>
                                <div class="col-12 filter-title">Estrellas</div>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <select id="stars" class="form-control filter-field filter-field-option">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>    
                                </div>
                                <div class="row col-6 offset-3 my-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="minibar">
                                        <label class="form-check-label" for="flexCheckDefault">Tiene minibar </label>
                                    </div>
                                </div>

                                <input type="submit" value="Filtrar" class="BotonFiltrar">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-xs-12 album p-1">
                    <div class="container lista-resultados">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
                            <div class="col">
                                <a href="#">
                                    <div class="card shadow-sm">
                                        <div class="f-h-p"><img src="../assets/img/fotos_habitaciones/hab1.jpeg" alt="habitacion1" class="foto-habitacion"></div>
                                        <h2 class="nombre-hotel">Holiday Inn Bucaramanga Cacique</h2>
                                        <div class="estrellas"><img src="../assets/img/iconos/estrellas_3.png" alt=""></div>
                                        <div class="card-body">
                                            <h3 class="precio">$350.000</h3>
                                            <p class="precio-anexo">*precio por noche</p>
                                            <a href="#" class="BotonRegistro">Hacer reserva</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <div class="card shadow-sm">
                                        <div class="f-h-p"><img src="../assets/img/fotos_habitaciones/hab2.jpeg" alt="habitacion1" class="foto-habitacion"></div>
                                        <h2 class="nombre-hotel">Hotel Chicamocha</h2>
                                        <div class="estrellas"><img src="../assets/img/iconos/estrellas_5.png" alt=""></div>
                                        <div class="card-body">
                                            <h3 class="precio">$172.000</h3>
                                            <p class="precio-anexo">*precio por noche</p>
                                            <a href="habitaciones.html" class="BotonRegistro">Hacer reserva</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <div class="card shadow-sm">
                                        <div class="f-h-p"><img src="../assets/img/fotos_habitaciones/hab3.jpeg" alt="habitacion1" class="foto-habitacion"></div>
                                        <h2 class="nombre-hotel">Hotel La Serranía</h2>
                                        <div class="estrellas"><img src="../assets/img/iconos/estrellas_4.png" alt=""></div>
                                        <div class="card-body">
                                            <h3 class="precio">$180.000</h3>
                                            <p class="precio-anexo">*precio por noche</p>
                                            <a href="#" class="BotonRegistro">Hacer reserva</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <div class="card shadow-sm">
                                        <div class="f-h-p"><img src="../assets/img/fotos_habitaciones/hab4.jpeg" alt="habitacion1" class="foto-habitacion"></div>
                                        <h2 class="nombre-hotel">Dann Carlton Bucaramanga</h2>
                                        <div class="estrellas"><img src="../assets/img/iconos/estrellas_4.png" alt=""></div>
                                        <div class="card-body">
                                            <h3 class="precio">$300.000</h3>
                                            <p class="precio-anexo">*precio por noche</p>
                                            <a href="#" class="BotonRegistro">Hacer reserva</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <div class="card shadow-sm">
                                        <div class="f-h-p"><img src="../assets/img/fotos_habitaciones/hab5.jpeg" alt="habitacion1" class="foto-habitacion"></div>
                                        <h2 class="nombre-hotel">Hampton Inn Bucaramanga Colombia</h2>
                                        <div class="estrellas"><img src="../assets/img/iconos/estrellas_2.png" alt=""></div>
                                        <div class="card-body">
                                            <h3 class="precio">$284.000</h3>
                                            <p class="precio-anexo">*precio por noche</p>
                                            <a href="#" class="BotonRegistro">Hacer reserva</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <div class="card shadow-sm">
                                        <div class="f-h-p"><img src="../assets/img/fotos_habitaciones/hab6.jpeg" alt="habitacion1" class="foto-habitacion"></div>
                                        <h2 class="nombre-hotel">Hotel San Juan Internacional</h2>
                                        <div class="estrellas"><img src="../assets/img/iconos/estrellas_1.png" alt=""></div>
                                        <div class="card-body">
                                            <h3 class="precio">$202.000</h3>
                                            <p class="precio-anexo">*precio por noche</p>
                                            <a href="#" class="BotonRegistro">Hacer reserva</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <div class="card shadow-sm">
                                        <div class="f-h-p"><img src="../assets/img/fotos_habitaciones/hab7.jpeg" alt="habitacion1" class="foto-habitacion"></div>
                                        <h2 class="nombre-hotel">Holiday Inn Bucaramanga Cacique</h2>
                                        <div class="estrellas"><img src="../assets/img/iconos/estrellas_3.png" alt=""></div>
                                        <div class="card-body">
                                            <h3 class="precio">$350.000</h3>
                                            <p class="precio-anexo">*precio por noche</p>
                                            <a href="#" class="BotonRegistro">Hacer reserva</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <div class="card shadow-sm">
                                        <div class="f-h-p"><img src="../assets/img/fotos_habitaciones/hab8.jpeg" alt="habitacion1" class="foto-habitacion"></div>
                                        <h2 class="nombre-hotel">Hotel Chicamocha</h2>
                                        <div class="estrellas"><img src="../assets/img/iconos/estrellas_5.png" alt=""></div>
                                        <div class="card-body">
                                            <h3 class="precio">$172.000</h3>
                                            <p class="precio-anexo">*precio por noche</p>
                                            <a href="#" class="BotonRegistro">Hacer reserva</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#">
                                    <div class="card shadow-sm">
                                        <div class="f-h-p"><img src="../assets/img/fotos_habitaciones/hab9.jpeg" alt="habitacion1" class="foto-habitacion"></div>
                                        <h2 class="nombre-hotel">Hotel La Serranía</h2>
                                        <div class="estrellas"><img src="../assets/img/iconos/estrellas_4.png" alt=""></div>
                                        <div class="card-body">
                                            <h3 class="precio">$180.000</h3>
                                            <p class="precio-anexo">*precio por noche</p>
                                            <a href="#" class="BotonRegistro">Hacer reserva</a>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- Inicio  -->
    <footer id="footer">
        <p class="annio">2021</p>
        <p>® Copyright todos los derechos reservados</p>
        <a href="https://github.com/LordEmpos/Proyecto_web_G2" target="_blank"><small>Realizado por CODERS MisiónTIC2022</small></a>
    </footer>

    <script src="js/bootstrap.bundle.js"></script>
    <!-- Fin  -->



<hr>
<hr>
<hr>

<form>
    <div class="container-fluid">
        <div class="row mt-5 mb-4">
            <div class="col-6 offset-3">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Busqueda de habitaciones">
                    <button class="btn btn-outline-primary" type="button" id="search-btn">
                        <i class="fas fa-search"></i> Buscar
                    </button>
                </div> 
            </div>                               
        </div>
    </div>
    <div class="container-fluid">
        <div class="row col-6 offset-3 my-4">  
            <div class="col">
                <div class="row">
                    <div class="col-5">
                        <label for="min_floor">Entre el piso</label> 
                    </div>
                    <div class="col-7">
                        <input type="number" id="min_floor" class="form-control">
                    </div>
                </div>                    
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-5">
                        <label for="max_floor">y el piso</label> 
                    </div>
                    <div class="col-7">
                        <input type="number" id="max_floor" class="form-control">
                    </div>
                </div>                    
            </div>                                       
        </div>
        <div class="row col-6 offset-3 my-4">  
            <div class="col">
                <div class="row">
                    <div class="col-5">
                        <label for="min_floor">Precio entre</label> 
                    </div>
                    <div class="col-7">
                        <input type="number" id="min_price" class="form-control">
                    </div>
                </div>                    
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-5">
                        <label for="max_floor">y</label> 
                    </div>
                    <div class="col-7">
                        <input type="number" id="max_price"  class="form-control">
                    </div>
                </div>                    
            </div>                                       
        </div>            
        <div class="row col-6 offset-3 my-4">
            <div class="col">
                <label for="capacity" class="form-label">Capacidad:</label>
                <input type="number" id="capacity" min="1" max="5"  class="form-control">
            </div>
            <div class="col">
                <label for="stars" class="form-label">Estrellas: </label>
                <select id="stars" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>  
        <div class="row col-6 offset-3 my-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="minibar">
                <label class="form-check-label" for="flexCheckDefault">Tiene minibar </label>
            </div>
        </div>             
    </div>
    <div class="container-fluid">
        <div class="row col-6 offset-3">
            <div class="card result p-3 my-3">
                <div class="row" id="result-1">
                    <div class="col-4">
                        <img src="https://picsum.photos/175" alt="foto resultado 1" class="img-fluid rounded">
                    </div>
                    <div class="col-8">
                        <h5>Hotel Tequendama (<span>Bogotá</span>)</h5>
                        <h5>Penthouse</h5>
                        <h5>$ 150.000</h5>
                        <h5 class="mt-5">5 <i class="fas fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;3 <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-wine-bottle"></i> minibar</h5>
                    </div>                        
                </div>
            </div>
            <div class="card result p-3 my-3">
                <div class="row" id="result-1">
                    <div class="col-4">
                        <img src="https://picsum.photos/175" alt="foto resultado 1" class="img-fluid rounded">
                    </div>
                    <div class="col-8">
                        <h5>Hotel Tequendama (<span>Bogotá</span>)</h5>
                        <h5>Penthouse</h5>
                        <h5>$ 150.000</h5>
                        <h5 class="mt-5">5 <i class="fas fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;3 <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-wine-bottle"></i> minibar</h5>
                    </div>                        
                </div>
            </div>
            <div class="card result p-3 my-3">
                <div class="row" id="result-1">
                    <div class="col-4">
                        <img src="https://picsum.photos/175" alt="foto resultado 1" class="img-fluid rounded">
                    </div>
                    <div class="col-8">
                        <h5>Hotel Tequendama (<span>Bogotá</span>)</h5>
                        <h5>Penthouse</h5>
                        <h5>$ 150.000</h5>
                        <h5 class="mt-5">5 <i class="fas fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;3 <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-wine-bottle"></i> minibar</h5>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</form>