<header>
    <nav class="navbar navbar-expand-lg navbar-dark logo-navbar" aria-label="Eighth navbar example">
        <div class="container container-mobile">
            <a href="#"><img src="../assets/img/logoBucarHotel.jpg" alt="Logo Bucarhotel" class="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsItems" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsItems">
                <ul class="navbar-nav ml-auto mb-2 mb-sm-0">
                    <li class="BotonMenu"><a href="">Buscar hotel</a></li>
                    <li class="BotonMenu BotonMenuActivo"><a href="">Reservar habitación</a></li>
                    <li class="BotonMenu"><a href="history">Historial de reservas</a></li>
                    <li class="BotonMenu"><a href="signupj">Regístrate</a></li>
                    <li class="BotonMenu"><a href="login">Ingresa</a></li>
                    <li class="BotonMenu"><a href="profile">Perfil</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="hgroup">
    <div class="container">
        <div class="reserva-response">Tu reserva se ha realizado con éxito,<br>¡Que tengas un buen viaje!</div>
    </div>
</div>
