<header>
    <nav class="navbar navbar-expand-lg navbar-dark logo-navbar" aria-label="Eighth navbar example">
        <div class="container container-mobile">
            <a href="#"><img src="../assets/img/logoBucarHotel.jpg" alt="Logo Bucarhotel" class="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsItems" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsItems">
                <ul class="navbar-nav ml-auto mb-2 mb-sm-0">
                    <li class="BotonMenu"><a href="#">Buscar hotel</a></li>
                    <li class="BotonMenu"><a href="history">Historial de reservas</a></li>
                    <li class="BotonMenu BotonMenuActivo"><a href="signup">Regístrate</a></li>
                    <li class="BotonMenu"><a href="login">Ingresa</a></li>
                    <li class="BotonMenu"><a href="profile">Perfil</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="hgroup" [formGroup]="form" name="f1">        
    <div class="container centrar ">
        <div id="section" class="row" for="doc">
            <div class="col-md-3 col-xs-12"></div>
            <div class="col-md-6 col-xs-12">            
                <div>
                    <h5><strong>Los campos con (*) son obligatorios.</strong></h5><br/>
                </div>
                <div>
                    <label for="doc">Documento (*): </label>                    
                    <input type="text" name="doc" id="doc" class="campoTexto campDoc" formControlName="doc" placeholder="Ingrese su documento (numeros)">
                </div>
                <div>
                    <label for="doc">Nombre (*): </label>
                    <input type="text" name="name" id="name" class="campoTexto campNom" formControlName="nombre" placeholder="Ingrese su(s) nombre(s)">
                </div>
                <div>
                    <label for="doc">Apellidos (*): </label>                    
                    <input type="text" name="lastname" id="lastname" class="campoTexto campApe" formControlName="apellidos" placeholder="Ingrese sus apellidos">
                </div>
                <div>
                    <label for="doc">Correo (*): </label>                    
                    <input type="email" name="email" id="email" class="campoTexto campCorr" formControlName="correo" placeholder="Ingrese su correo">
                </div>
                <div>
                    <label for="doc">Contrase&ntilde;a (*): </label>                    
                    <input type="password" name="password" id="password" class="campoTexto campCla1" formControlName="clave" placeholder="Ingrese su contraseña">
                </div>
                <div>
                    <label for="doc">Confirme su contrase&ntilde;a (*): </label>                    
                    <input type="password" name="password2" id="password2" class="campoTexto campCla2" formControlName="clave2" placeholder="Confirme su contraseña">
                </div>                
                    <!-- <script>
                        function comprobarClave(){
                            claveA = document.f1.clave.value
                            claveB = document.f1.clave2.value
                            if (claveA == claveB){
                                alert("Registro satisfactorio")
                                signup();
                            }else{
                                alert("Las claves no coinciden...")                        
                            }
                        }
                    </script> -->
                <div>                    
                    <button class="BotonRegistro" (click)="signup()">Registrarse</button>
                </div>                                                                                                                            
                <div class="col-md-3 col-xs-12"></div>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <p class="annio">2021</p>
    <p>® Copyright todos los derechos reservados</p>
    <a href="https://github.com/LordEmpos/Proyecto_web_G2" target="_blank"><small>Realizado por CODERS MisiónTIC2022</small></a>
</footer>

<!-- <div [formGroup]="form">
    <div>
        <h2 ><strong>Formulario de registro</strong></h2>
    </div>
    <div>
        <label for="doc" class="form-label fw-bold">Documento: </label>
        <input type="number" name="doc" id="doc" class="form-control" formControlName="doc">
    </div>
    <div class="my-3 col-6 offset-3">
        <label for="doc" class="form-label fw-bold">Nombre: </label>
        <input type="text" name="name" id="name" class="form-control" formControlName="nombre">
    </div>
    <div class="my-3 col-6 offset-3">
        <label for="doc" class="form-label fw-bold">Apellidos: </label>
        <input type="text" name="lastname" id="lastname" class="form-control" formControlName="apellidos">
    </div>
    <div class="my-3 col-6 offset-3">
        <label for="doc" class="form-label fw-bold">Correo: </label>
        <input type="text" name="email" id="email" class="form-control" formControlName="correo">
    </div>
    <div class="my-3 col-6 offset-3">
        <label for="doc" class="form-label fw-bold">Contraseña: </label>
        <input type="password" name="password" id="password" class="form-control" formControlName="clave">
    </div>
    <div class="my-3 d-flex justify-content-center">
        <button class="btn btn-primary" (click)="signup()">registarme</button>
    </div>        
</div>  -->   

