#contenedor{
    width: 1200px;
    height: auto;
    margin: 0.5em;
    padding: 0.5em;
}
#contenido{
    height: 100%;
    border-style: solid;
    border-radius: 1em;
    padding: 20px;    
}
#seccion{
    height: 50%;    
}
.campoTexto{
    box-sizing: content-box;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    border: none;
    width: 250px;      
    border-radius: 20px;  
}
.centrar{
    text-align: center;
}
#footer{
    bottom: 0px !important;
    position: absolute;
}
.campDoc{margin: 12px;margin-left: 104px;}
.campNom{margin: 15px;margin-left: 133px;}
.campApe{margin: 12px;margin-left: 121px;}
.campCorr{margin: 12px;margin-left: 138px;}
.campCla1{margin: 12px;margin-left: 105px;}
.BotonRegistro{margin-top: 4px;}

@media screen and (max-width: 800px){
    .campDoc{margin-left: 0px;}
    .campNom{margin-left: 0px;}
    .campApe{margin-left: 0px;}
    .campCorr{margin-left: 0px;}
    .campCla1{margin-left: 0px;}
    .campFecha{margin-left: 0px;}    
    #footer{
        position: relative !important;
    }
}